.app-container{
    width:100vw;
    height:100vh;
    display: grid;
    grid-template: 100vh / minmax(250px,20vw) minmax(720px,80vw);
    
}
.leftnav-wrapper{
    
    width:100%;
    height:100vh;
    min-height:700px;
    padding:3% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

