@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

$main:#13EB42;
$main-font:Poppins;
$complementary-font:Ubuntu;
$secondary:#035515;
$secondary-text:#022e0c;


:root{

    font-size:28px;
    font-family: $main-font,sans-serif;
    font-weight:800;

}
*{
    padding: 0;
    margin: 0;
    outline:none;
    text-align:center;
    text-decoration: none;
    
}
#app{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-home{
    animation:entrada 1.5s ease forwards;
}
@keyframes entrada{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}
body{
    overflow:hidden;
    width:100vw;
    height:100vh;
    color:$secondary-text;
    font-size:1rem;
}

button, .Link-button{
    width:200px;
    height:70px;
    color:$secondary-text;
    border-radius:25px;
    border:none;
    padding:2%;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
    outline:none;
}
h1{
    font-family:Ubuntu;
}
p{
    font-size:.7rem;
}